# IDE
.idea/
*.iml

# Sistema operacional
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/
**/build/
local.properties

# Arquivos temporários
*.log
*.tmp

# Android
captures/
.externalNativeBuild/
.cxx/
